input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
textarea,
select {
    padding: 5px;
    border: 1px solid black;
}

input[type="submit"] {
    background-color: green;
    color: white;
}

input[type="reset"] {
    background-color: red;
    color: white;
}

form {
    border: 2px solid black;
}

h1 {
    font-size: 28px;
}